@media screen and (min-width: 500px) {
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .navigation {
        align-items: center;
        display: block;
    }

    .navigation ul{
        display: flex;
    }
    .navigation ul li {
        min-width: 100px;
    }

    .hamburger {
        display: none;
    }

    .hdr-top {
        grid-template-columns: 96px auto;
    }

    .hdr-top span {
        font-size: 2rem;
    }

    .list-view {
        display: flex;
        flex-direction: column;
    }
    .list-view section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
        padding: 0.25rem;
    }
    .list-view section &>* {
        margin: 0 1rem;
    }
    .list-view section h3 {
        font-size: 1rem;
    }
    .list-view section img {
        display: none;
    }
    .list-view section &:nth-child(odd) {
        background-color: var(--accent-color1);
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}