@media screen and (min-width: 500px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .flip-card {
        width: 400px;
        height: 800px;
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card:hover .flip-card-back {
        position: relative;
    }

    .flip-card:hover .flip-card-front {
        position: absolute;
    }

    form {
        max-width: 900px;
    }

    fieldset {
        max-width: 800px;
    }

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        min-width: 400px;
        max-width: 550px;
    }
      
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--primary);
    }

    .navigation {
        align-items: center;
        display: block;
        margin-top: 0;
    }
        
    .navigation ul {
        display: flex;
        background-color: var(--accent);
        justify-content: space-around;
    }

    .navigation ul li {
        min-width: 100px;
        margin: 2rem 0;
    }

    .hamburger {
        display: none;
    }

    .hdr-top {
        grid-template-columns: 96px auto;
    }

    .hdr-top span {
        font-size: 3.1rem;
    }

    h1 {
        font-size: 3rem;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}