@media screen and (min-width: 48em) {
    header {
        display: grid;
        grid-template-columns: auto;
    }

    .hdr-top {
        grid-template-columns: 6rem auto;
    }
    
    .hdr-top span {
        font-size: 3.5rem;
        padding-left: 1.5rem;
    }
    
    .navigation {
        align-items: center;
        display: block;
        margin-top: 0;
    }
    
    .navigation ul {
        display: flex;
        background-color: var(--accent);
        justify-content: space-around;
    }

    .navigation ul li {
        min-width: 6.25rem;
        margin: .5rem 0;
    }

    nav a {
        font-size: 1.4rem;
        padding: .75rem 2rem;
    }

    .hamburger {
        display: none;
    }

    .current {
        border-left: var(--thinBorder);
        border-right: var(--thinBorder);
    }

    h1 {
        padding-left: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #filter-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .lg-screen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;
    }

    .form-box {
        grid-column: 1 / 3;
    }
}